BasedOnStyle: LLVM

ColumnLimit: 120
IndentWidth: 4
UseTab: Never
TabWidth: 4

BreakBeforeBraces: Attach

ReflowComments: false

Language: Cpp 

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
